.tab-vbox {
    -fx-background-radius: 10;
}

.tab-vbox-hover {
    -fx-background-color: #e9f5f3;
}

.tab-selected {
    -fx-background-color: #E9F5F3;
}

.tab-selected .label{
    -fx-text-fill: #009688;
    -fx-background-color: #E9F5F3;
}

.tree-cell.custom-tree-cell:selected{
    -fx-background-color: #009688;
    -fx-text-fill: white;
}


.redis-tree-view {
    -fx-background-insets: 0; /* 去除默认边距 */
    /*-fx-background-color: red; !* 设置背景色 *!*/
    -fx-background-radius: 5; /* 圆角半径 */
}

.redis-tree-view .viewport {
    -fx-background-color: red; /* 同样为了确保背景色的统一性，设置视口背景色 */
}