.tab-vbox {
    -fx-background-radius: 10;
}

.tab-vbox-hover {
    -fx-background-color: #e9f5f3;
}

.tab-selected {
    -fx-background-color: #E9F5F3;
}

.tab-selected .label{
    -fx-text-fill: #009688;
    -fx-background-color: #E9F5F3;
}
/*间隔条纹效果*/
.tree-cell-odd {
    -fx-background-color: #ffffff; /* 白色背景 */
}

.tree-cell-even {
    -fx-background-color: rgba(244, 244, 244, 0.8); /* 淡灰色背景 */
}

.custom-tree-cell {
    -fx-background-radius: 10;
}

.custom-tree-cell:selected{
    -fx-background-color: #009688;
    -fx-text-fill: white;
}

.custom-tree-cell:hover{
    -fx-background-color: #E9F5F3;
    -fx-text-fill: black;
}
/* 为同时处于hover和selected状态的单元格定义样式 */
.custom-tree-cell:hover:selected {
    -fx-background-color: #009688;
    -fx-text-fill: white;
}

.redis-tree-view {
    -fx-background-insets: 0; /* 去除默认边距 */
    -fx-background-radius: 5; /* 圆角半径 */
}

/* 垂直滚动条宽度 */
.redis-tree-view .scroll-bar {
    -fx-pref-width: 8px; /* 减小这个值以减小垂直滚动条的宽度 */
}

/* 水平滚动条宽度 */
.redis-tree-view .scroll-bar:horizontal {
    -fx-pref-height: 8px; /* 减小这个值以减小垂直滚动条的宽度 */
}

/*增量按钮*/
.redis-tree-view .scroll-bar:vertical .increment-button,
.redis-tree-view .scroll-bar:vertical .decrement-button,
.redis-tree-view .scroll-bar:horizontal .increment-button,
.redis-tree-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: "";
    -fx-min-width: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}

/* 滑块 */
.redis-tree-view .scroll-bar .thumb {
    -fx-background-color: derive(#D8D8D8, 10%);
    -fx-background-radius: 4;
}